{% load static %}

<section class="brands flf">
    <div class="container df_c_v jcsb">
        <img src="{% static '' %}images/brands/acquaint.png" alt="">
        <img src="{% static '' %}images/brands/bloomy.png" alt="">
        <img src="{% static '' %}images/brands/class.png" alt="">
        <img src="{% static '' %}images/brands/mazeflow.png" alt="">
        <img src="{% static '' %}images/brands/vincimo.png" alt="">
        <img src="{% static '' %}images/brands/zapwiz.png" alt="">
    </div>
</section>
<!-- BRANDS -->