{% extends 'base.html' %}

{% load static %}

{% block header %}
  {% include 'header2.html' %}
{% endblock %}

{% block content %}
  {% if applicant %}
    <section class="confirmation flf" style="background: url({{ profile.confirm.url }}) no-repeat center; background-size: cover;">
      <div class="container">
        <h2>{{ applicant.type }} Confirmation ✔️</h2>
        <h5>Upload Proof Of Payment As Confirmation Would Be Done Manually</h5>

        <form class="flf df_c_v jcsb" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <p>⚠️Upload Images only</p>

          <input type="file" name="screenshot" placeholder="Upload Proof of Payment" required accept="image/*" />

          <button id="submit" type="submit" name="submit">Upload &nbsp; <span class="fa-solid fa-angle-right"></span></button>
        </form>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
