{% extends 'base.html' %}

{% load static %}

{% block header %}
	{% include "header2.html" %} 
{% endblock header %}





{% block content %}



{% if applicant %}
	


<section class="banner flf bfr contact"   id="contact" style="background: url({{profile.confirm.url}}) no-repeat center;" id="contact" style="background-color: grey;">
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<div class="container">
		
	
		<h2 style="color: white;"> {{applicant.type}}   Confirmation ✔️</h2>
		<h5 style="color: white;">Upload Prove Of Payment As Confirmation Would Be Done Manually</h5>
	

		<form class="flf df_c_v jcsb" method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			<P style="font-weight: 900;color: orange;font-size: larger;">⚠️Upload Images only </P>
			
			<input type="file" name="screenshot" placeholder="Upload Prove of Payment" required>
			

			<button id="submit" type="submit" name="submit">
				Upload &nbsp; <span class="fa-solid fa-angle-right"></span>
			</button>
		</form>
	

	</div>
</section> 

{% endif %}
	


{% endblock content %}





{% block footer %}
	{% include "footer.html" %} 
{% endblock footer %}



