{% extends 'base.html' %}

{% load static %}

{% block header %}
  {% include 'header2.html' %}
{% endblock %}

{% block content %}
  {% if applicant %}
    <section class="contact flf" style="background: url({{ applicant.item_img.url }}) no-repeat center; background-size: cover;">
      <div class="container">
        <h2>{{ applicant.type }}</h2>
        <h5>Register as a {{ applicant.type }} and proceed with Completion Form <a href="#about">Terms and Conditions Apply</a></h5>

        <form class="flf df_c_v jcsb" method="POST" action="{% url 'application' applicant.id applicant.slug %}">
          {% csrf_token %}
          <input type="text" name="full_name" placeholder="Full-Name*" />
          <input type="email" name="email" placeholder="Email*" />
          <input type="text" name="address" placeholder="Address*" />

          <button id="submit" type="submit" name="submit">Apply &nbsp; <span class="fa-solid fa-angle-right"></span></button>
        </form>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
