{% load static %}
<footer class="flf">
  <div class="container">
    <div class="row">
      <div class="column al df_c_v">
        <img src="{{ profile.favicon.url }}" alt="" style="height: 25px;width: 25px;" />
        <p>Oregon Trucking</p>
        <p>
          <a href="#map"><span class="fa-solid fa-location-dot"></span>{{ profile.address }}</a>
        </p>
      </div>

      <div class="column al df_c_v">
        <ul>
          <li>Quick Links</li>
          <li>
            <a href="{% url 'homepage' %}">Home</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#services">Apply</a>
          </li>
        </ul>
      </div>

      <div class="column al df_c_v">
        <ul>
          <li>Contacts us</li>
          <li>
            <a href="mailto:{{ profile.email }}"><i class="fa-solid fa-envelope"></i>{{ profile.email }}</a>
          </li>
          <li>
            <a href="sms:{{ profile.phone }}?&body=Hi%20there%20I%2520my%20name%20is%2520NAME"><span class="fa-brands fa-whatsapp"></span>&nbsp;{{ profile.phone }}</a>
          </li>
          {% comment %} <li>
            <a href="#map"><span class="fa-solid fa-location-dot"></span>{{ profile.address }}</a>
          </li> {% endcomment %}
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER -->
