{% extends 'base.html' %}

{% load static %}

{% block header %}
  {% include 'header2.html' %}
{% endblock %}

{% block content %}
  {% if applicant %}
    <section class="success flf" style="background: url({{ profile.thanks.url }}) no-repeat center; background-size: cover;">
      <div class="floating-elements"></div>
      <div class="container">
        <h5>{{ thanks_edit.text }}</h5>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
